{% extends "base.html" %} {% block title %} {{book.title}} {% endblock %} {%
block content %}
<div class="grid">
    <div style="display: flex; justify-content: center">
        <img
            style="border-radius: 0.5rem"
            src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg?default=false"
            height="681"
            width="450"
            alt="book cover"
            onerror="
                this.src =
                    'https://bookscouter.com/images/main/book-cover-unavailable.svg'
            "
        />
    </div>
    <div>
        <section>
            <article>
                <h5>{{book.author}}</h5>
                <h1>{{book.title}}</h1>
            </article>
            <article>
                <h6>Notes:</h6>
                {{ book.notes }}
            </article>
        </section>
        {% if loggedIn %}
        <form method="post" action="/book/{{ book.id }}/borrow">
            <button type="submit">Borrow Book</button>
        </form>
        {% else %}
        <a href="/login_page" role="button" class="secondary">Log in to borrow</a>
        {% endif %}
    </div>
</div>
{% endblock %}
